@import "custom-variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap/scss/functions.scss";
@import "node_modules/bootstrap/scss/variables.scss";
@import "node_modules/bootstrap/scss/mixins.scss";

html {
  background: $brand-color url(../images/bg-small.png) 0 0 fixed no-repeat;
  background-size: cover;
  height: calc(100vh - 81.2px) !important;

  @media(min-width: 768px) {
    background: $brand-color url(../images/bg-image.png) 0 0 fixed no-repeat;
    background-size: cover;
  }
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  height: 100%;
}

h1,
h2,
h3,
a,
p,
div,
span,
button {
  color: $white;
}

.banner {
  height: auto;

  @media(min-width: 768px) {
    height: 40vh;

  }
}

.nav-item {
  a {
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 500;
  }

  i {
    font-size: 1.2em;
  }
}

.navbar-brand {
  font-size: 1.3em;
}

footer {
  * {
    color: darken($white, 50%);

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    @media(min-width: 768px) {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }
}

.title {
  text-transform: uppercase;
  font-size: 2.5em;

  @media (min-width: 768px) {
    font-size: $title-font-size;
  }

  letter-spacing: 25px;
  font-family: "Mandali",
  sans-serif !important;
}

.subtitle {
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 1rem;

  @media (min-width: 768px) {
    font-size: $subtitle-font-size;
    font-weight: 600;
    margin-top: 2rem;
  }

  font-family: "Mandali",
  sans-serif !important;
  letter-spacing: 2px;
}

.description {
  width: 100% !important;

  @media(min-width: 768px) {
    width: 25% !important;
  }

  .btn {
    i {
      font-size: 1.2em;
    }
  }
}

.btn-icon {
  display: flex;
  align-items: center;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: $white;
    color: #333;
    font-size: 0.4em;
  }

  span {
    padding-left: 1rem;
  }
}
